{% extends 'base.html.twig' %}

{% block body %}
    <h1>Password Generator</h1>

    <form id="js-password-generator-form" method="get" action="{{ path('app_generate_password') }}">
        <div>
            <label for="length">Length</label>
            <select id="length" name="length">
                {% for i in password_min_length..password_max_length %}
                    <option value="{{ i }}"{{ i == password_default_length ? 'selected' }}>{{ i }}</option>
                {% endfor %}
            </select>
        </div>


        <div>
            <label for="uppercase-letters">Uppercase Letters</label>
            <input
                    type="checkbox"
                    id="uppercase-letters"
                    name="uppercase_letters"
            >
        </div>

        <div>
            <label for="digits">Digits</label>
            <input
                    type="checkbox"
                    id="digits"
                    name="digits"
            >
        </div>

        <div>
            <label for="special-characters">Special Characters</label>
            <input
                    type="checkbox"
                    id="special-characters"
                    name="special_characters"
            >
        </div>

        <div>
            <button type="submit">Generate Password</button>
        </div>
    </form>

    <footer>
        <p>
            Built with &hearts; by
            <a href="https://parolnscode.com">Parlons Code</a>.
        </p>
    </footer>
{% endblock %}

{% block javascripts %} 
    {# JavaScript #}
    <script src="/js/password-preferences.js" defer></script>

{% endblock %}